.root {
    -fx-background-color: linear-gradient(to bottom right, #2A5058, #549F93);
    -fx-font-family: 'Segoe UI';
}

.vbox-container {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-background-radius: 15;
    -fx-padding: 30 40 30 40;
    -fx-spacing: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.label-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.text-field, .password-field, .spinner {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-color: #dddddd;
    -fx-border-radius: 5;
    -fx-pref-height: 40px;
    -fx-pref-width: 300px;
    -fx-font-size: 14px;
    -fx-padding: 0 10 0 10;
}

.button {
    -fx-background-color: rgba(51, 70, 193, 0.74);
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: rgba(29, 40, 110, 0.74);
}

.error-label {
    -fx-text-fill: #ff4444;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.radio-button {
    -fx-font-size: 14px;
}

.toggle-button:selected {
    -fx-background-color: #549F93;
}

/* Default button style */

